<div class="sharebuttons">
    <hr />
    <ul>
      <li>
        <p class="sharetitle"> Condividi: </p>
      </li>
      <li class="reddit">
        <a href="http://www.reddit.com/submit?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape }}" target="_blank">
          {% include social/reddit.svg %}
        </a>
      </li>
      <li class="twitter">
        <a href="https://twitter.com/intent/tweet?via=jkant76&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&text={{ page.title | default:"" | uri_escape}}" target="_blank">
          {% include social/twitter.svg %}
        </a>
      </li>
    </ul>
  </div>